* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', 'Trebuchet MS', sans-serif;
    background: #ffd1df;
    color: #000;
}

h1 {
    font-family: 'Yeseva One', 'Georgia', serif;
    text-align: center;
    margin: 0.5rem;
    background: #fe9bc3;
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
}

article {
    display: flex;
    flex-flow: column wrap;
    max-width: 40rem;
    margin: auto;
}

#container {
    width: 40rem;
    height: 32rem;
}

#container2 {
    width: 40rem;
    height: 30rem;
}

/*pseudo-classes*/
a {
    color: #c50f82; 
}
a:visited {
    color: #800020;
}
a:hover {
    color: #954ea0;
}


@media screen and (max-width: 750px) {
    h1 {
        margin: 0;
        padding: 0;
        font-size: 3.75rem;
    }
    body {
        margin: 0;
        max-width: 400px;
        font-size: 2rem;
        padding: 1rem 0;
    }
    article {
        align-items: center;
    }

    p {
        margin: 0;
        padding: 1rem 0;
    }
}